html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: 'Roboto', sans-serif;
}

a {
	display: inline-block;
	text-decoration: none;
	color: #fff;
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.container {
	max-width: 1920px;
	min-height: 900px;
	margin: 0 auto;
}



input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}